<div class="art-container">
  <div class="featured-article" style="background-image: url(<%= image_path "#{@featured_article.image}"%>);background-position: center;
    background-size: cover; background-repeat: no-repeat;"></div>
  <div class="weather"></div>

  <% @categories.each do |cat|%>
  <div
    style="background-image: url(<%= image_path "#{cat.articles.last.image}"%>);background-position: center; background-size: cover; background-repeat: no-repeat;">
  </div>

  <% end %>
</div>