/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    margin: 0;
    height: 100%;
}

.art-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60% 40%;
    height: 85vh;
}
         
 a {
     text-decoration: none;
     color: #b1afac;     
 }

nav {
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1em;
    height: 3.5em;
    color: #b1afac;
    align-items: center;
}

.lstly {
    padding-right: 15px;
    text-transform: uppercase;
}

.logo {
    width: 30%;
    margin-left: 15px;
    font-size: 1.5em;
    color: #4d433e;
}

.logo .period {
    height: 15px;
    width: 15px;
    background-color: #f86208;
    border-radius: 50%;
    display: inline-block;
}

.categories,
.terms {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 0;
    padding: 0;
}

.categories a {
    color: #b1afac;
}


li {
    list-style: none;
}

.divider {
    padding: 0 5px;
}

.session-btns {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    color: #b1afac;
    text-transform: uppercase;

}

/* FOOTER */

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1em;
    height: 2.8rem;            /* Footer height */
    background-color: #4e443f;
    margin-top: auto;
    position: fixed;
    bottom: 0;
}

.write-article {
    display: none;
}

footer * {
    align-self: center;
    font-size: 1em;
}

.logo-footer {
    margin-left: 15px;
    width: 25%;
    margin-left: 15px;
    font-size: 1.5em;
    color: white;
}

.logo-footer .period {
    height: 15px;
    width: 15px;
    background-color: #f86208;
    border-radius: 50%;
    display: inline-block;
}

.terms-items {
    color: #b6551e;
}

.copyright {
    color: white;
}

.social {
    display: flex;
}

.social p {
    color: white;
    margin-right: 15px;
}

.social-icons {
    font-size: 1.8em;
    margin-right: 15px;
}

.fa {
    color: #b6551e !important;
    font-size: 18px;
}

.terms {
    justify-content: space-around;
    width: 40%;
}

.new-article-container {
    padding-bottom: 2.8em;
}

.new-article-container,
.new-article-title {
    display: flex;
    justify-content: center;
    align-content: center;
}

.new-article-title { 
    font-size: 3.5em;
}

.new-article-title .period {
    height: 15px;
    width: 15px;
    background-color: #f86208;
    border-radius: 50%;
    display: inline-block;
}

.f-label,
.article_image label {
    font-size: 2.5em;
    margin: 10px;
    font-weight: 900;
}

.f-input,
.article_image select {
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-position {
    display: flex;
}

.cat-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 45px;
}

.btn {
    padding: 10px;
    background-color: #f86208;
    color: white;
    border: none;
    margin-bottom: 20px;
}

/* CLEAN UP */

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
    display: none;
  }

  @media screen and (max-width: 855px) {
    nav {
        position: fixed;
        font-size: 0.8em;
        background-color: white;
        z-index: 9999;
    }
    .categories {
        display: none;
    }
    .logo {
        width:80%;
        font-size: 1.1em;
    }
    .session-btns * {
        font-size: 1.1em;
    }
    .featured-category {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .featured-text {
        font-size: 1em;
    }
    .art-container {
        grid-template-rows: 60% 40% 40% 40% 40%;
    }
    .write-article {
        display: flex;
        align-content: center;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: -1;

    }
    .cat-container {
        grid-template-columns: 1fr;
        padding-bottom: 0;

    }
    footer {
        display: none;
    }
  }
