/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
 }

 a {
     text-decoration: none;
     
 }

 a:visited {
     color: #b1afac;
 }

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1em;
    height: 4em;
    color: #b1afac;
    align-items: center;
    
}

.logo {
    width: 30%;
    margin-left: 15px;
}

.categories,
.terms {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0;
    padding: 0;
}

.categories a {
    color: #b1afac;
}


li {
    list-style: none;
    font-size: 1.2em;
}

.divider {
    padding: 0 15px;
}

.session-btns {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    color: #b1afac;
}

/* FOOTER */

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    height: 2.8rem;            /* Footer height */
    background-color: #4e443f;
}

footer * {
    align-self: center;
    font-size: 1em;
}

.logo-footer {
    margin-left: 15px;

}

.terms-items {
    color: #b6551e;
}

.copyright {
    color: white;
}

.social {
    display: flex;
}

.social p {
    color: white;
    margin-right: 15px;
}

.social-icons {
    font-size: 1.8em;
    margin-right: 15px;
}

.fa {
    color: #b6551e !important;
    font-size: 18px;
}