// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.art-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 85vh;
    grid-template-rows: 60% 40%;
}

.featured-article {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.featured-title {
    color: #fc5f00;
    margin-top: auto;
}

.featured-text {
    color: white;
}

.weather {
    grid-column-start: 4;
    grid-column-end: span 5;
}

.featured-category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    color: white;
}



h3 span {
    position: relative;
    padding-bottom: 5px;
    color: white;
}
h3 span::after{
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 1px; 
    border-bottom: 4px solid #a2d791; 
    content: ""
}