  <footer>
    <div class="logo-footer">SalTLyLIfeStlYLe<span class = "period"></span></div>
    <ul class="terms">
      <li class="terms-items">Privacy Policy</li>
      <li class="terms-items">Terms & Conditions</li>
      <li class="copyright">© 2020 Seth Zea. Made in the USA.</li>
    </ul>
    <div class="social">
      <p>Connect with us:</p>
      <div class="social-icons">
        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      </div>
    </div>
  </footer>